<div class="container">
  <div class="login">
    <div class="login__bg">
      <div class="login__img-wrapper">
        <img class="login__img" src="../../../assets/images/yes-bank-logo.svg" alt="logo">
      </div>
    </div>
    <form #form="ngForm" class="login__form-container">
      <h2 *ngIf="error" class="login__form-error">Revisá que los datos sean correctos.</h2>
      <div class="login__message-wrapper">
        <p class="login__form-message">Ingresá tus datos y solicitá un turno para ser atendido en nuestras sucursales.
        </p>
      </div>
      <mat-form-field class="login__form-input" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input required type="text" matInput name="name" [(ngModel)]="user.name">
        <mat-error *ngIf="!form.controls.name?.valid || form.controls.name?.touched ">
          Campo <strong>obligatorio.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="login__form-input" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input required type="text" matInput name="lastName" [(ngModel)]="user.lastName">
        <mat-error *ngIf="!form.controls.lastName?.valid || form.controls.lastName?.touched ">
          Campo <strong>obligatorio.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="login__form-input" appearance="fill">
        <mat-label>DNI</mat-label>
        <input required type="number" matInput name="dni" [(ngModel)]="user.dni">

        <mat-error *ngIf="!form.controls.dni?.valid || form.controls.dni?.touched ">
          Campo <strong>obligatorio.</strong>
        </mat-error>
      </mat-form-field>
      <button [disabled]="form.invalid" [ngClass]="{'button__hover': form.valid}" class="login__form-button"
        mat-raised-button type="button" (click)="login()">Ingresar
      </button>
    </form>
  </div>
  <div class="image-wrapper">
    <img class="image" src="../../../assets/images/login_img.svg" alt="amigos">
  </div>
</div>
